---
http_interactions:
- request:
    method: get
    uri: https://holidayapi.pl/v1/holidays?country=US&year=2018
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"holidays":{"2018-01-01":[{"name":"Last Day of Kwanzaa","country":"US","date":"2018-01-01"},{"name":"New
        Year''s Day","country":"US","date":"2018-01-01"}],"2018-01-06":[{"name":"Epiphany","country":"US","date":"2018-01-06"}],"2018-01-07":[{"name":"Orthodox
        Christmas","country":"US","date":"2018-01-07"}],"2018-01-15":[{"name":"Martin
        Luther King, Jr. Day","country":"US","date":"2018-01-15"}],"2018-02-02":[{"name":"Groundhog
        Day","country":"US","date":"2018-02-02"}],"2018-02-14":[{"name":"Ash Wednesday","country":"US","date":"2018-02-14"},{"n[...]
[...]
